selenium==3.141.0
tqdm==4.42.1
# torch==1.4.0
# torch_geometric==1.6.1
spacy==2.3.2
arcgis==1.8.0.post1
PyMySQL==1.0.2
djangorestframework_simplejwt==4.4.0
requests==2.22.0
pandas==1.0.1
numpy==1.18.1
neomodel==4.0.1
kombu==4.6.11
torchtext==0.6.0
matplotlib==3.1.3
Django==3.0
Pillow==8.1.0
scikit_learn==0.24.1